<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        Categories:
        <a href="{{ site.baseurl }}{% link tables/pure_emulation.md%}">Pure Emulation</a> |
        <a href="{{ site.baseurl }}{% link tables/partial_emulation.md%}">Hardware-in-the-loop</a> |
        <a href="{{ site.baseurl }}{% link tables/symbolic_abstractions.md%}">Symbolic Abstractions</a> |
        <a href="{{ site.baseurl }}{% link tables/hybrid_approaches.md%}">Hybrid Approaches</a>

        <div class="footer-col-wrapper">
        </div>

    </div>

</footer>
